services:
  api-gateway:
    build:
      context: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    networks:
      - backend
    restart: always

  auth-service:
    build:
      context: ./API_userManagement/api
    container_name: auth-service
    environment:
      DATABASE_URL: jdbc:postgresql://postgres_db2:5432/user_manager
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      APP_URL: ${APP_URL}
    depends_on:
      - postgres_db2
    networks:
      - backend
    restart: always

  notification-service:
    build:
      context: ./notification-service
    container_name: notification-service
    environment:
      DATABASE_URL: jdbc:postgresql://postgres_db1:5432/email_manager
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      APP_EMAIL: ${APP_EMAIL}
      APP_PASSWORD: ${APP_PASSWORD}
      APP_URL: ${APP_URL}
    depends_on:
      - postgres_db1
    networks:
      - backend
    restart: always

  music-service:
    build:
      context: ./music-service
    container_name: music-service
    environment:
      DATABASE_URL: jdbc:postgresql://postgres_db3:5432/music_manager
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - postgres_db3
    networks:
      - backend
    restart: always
    volumes:
     - ~/.m2:/root/.m2

  postgres_db1:
    image: postgres:14
    container_name: postgres_db1
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: email_manager
    volumes:
      - db-data1:/var/lib/postgresql/data
    networks:
      - backend

  postgres_db2:
    image: postgres:14
    container_name: postgres_db2
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: user_manager
    volumes:
      - db-data2:/var/lib/postgresql/data
    networks:
      - backend

  postgres_db3:
    image: postgres:14
    container_name: postgres_db3
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: music_manager
    volumes:
      - db-data3:/var/lib/postgresql/data
    networks:
      - backend

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
     - "5500:80"
    networks:
     - backend
    volumes:
     - ./frontend:/usr/share/nginx/html
     
  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    networks:
      - backend
    ports:
      - 9091:9090

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - backend
    ports:
      - 3000:3000
    
volumes:
  db-data1:
  db-data2:
  db-data3:
  prometheus-data:
  grafana-data:

networks:
  backend:
    driver: bridge