server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true
      routes:
        - id: auth-service
          uri: http://auth-service:8080/
          predicates:
            - Path=/auth/**,/users/**
            - Method=GET,POST,OPTIONS


        - id: music-service
          uri: http://music-service:8080/
          predicates:
            - Path=/musics/**, /artists/**
            - Method=GET, POST, DELETE, OPTIONS
